// Variables

// Restate Bootstrap Variables

$white:    #fff !default;
$black : #000;
$basic-font: akaDora;


//----------FONT COLORS-------------

$c-orange: #bd5d38;
$c-l-black: #3c2727;
//----------BACKGROUND COLORS-------------

$bg-orange: #bd5d38;
$bg-d-orange:#af380b;
$bg-l-black: #3c2727;
$bg-tr-black:rgba(60, 39, 39, 0.7);
$bg-tr-black2:rgba(60, 39, 39, 0.4);
$bg-l-gray:#ddd;
$sidebar-base-width: 17rem;
