@import "variables.scss";
@import "mixins.scss";


@font-face {
    src: url(../font/roboto/Roboto-Black.ttf);
    font-family: Roboto-Black;
    font-weight: 900;
}

@font-face {
    src: url(../font/roboto/Roboto-BlackItalic.ttf);
    font-family: Roboto-BlackItalic;
    font-weight: 900;
}

@font-face {
    src: url(../font/roboto/Roboto-Bold.ttf);
    font-family: Roboto-Bold;
    font-weight: 700;

}

@font-face {
    src: url(../font/roboto/Roboto-BoldItalic.ttf);
    font-family: Roboto-BoldItalic;
    font-weight: 700;
}

@font-face {
    src: url(../font/roboto/Roboto-Italic.ttf);
    font-family: Roboto-Italic;
    font-weight: 400;
}

@font-face {
    src: url(../font/roboto/Roboto-Light.ttf);
    font-family: Roboto-light;
    font-weight: 300;
}

@font-face {
    src: url(../font/roboto/Roboto-LightItalic.ttf);
    font-family: Roboto-LightItalic;
    font-weight: 300;
}

@font-face {
    src: url(../font/roboto/Roboto-Medium.ttf);
    font-family: Roboto-Medium;
    font-weight: 500;
}

@font-face {
    src: url(../font/roboto/Roboto-Regular.ttf);
    font-family: Roboto-Regular;
    font-weight: 400;
}

@font-face {
    src: url(../font/roboto/Roboto-Thin.ttf);
    font-family: Roboto-Thin;
    font-weight: 200;
}

@font-face {
    src: url(../font/roboto/Roboto-ThinItalic.ttf);
    font-family: Roboto-ThinItalic;
    font-weight: 200;
}

@font-face {
    src: url(../font/roboto/RobotoCondensed-Bold.ttf);
    font-family: RobotoCondensed-Bold;
    font-weight: 700;
}

@font-face {
    src: url(../font/roboto/RobotoCondensed-BoldItalic.ttf);
    font-family: RobotoCondensed-BoldItalic;
    font-weight: 700;
}

@font-face {
    src: url(../font/roboto/RobotoCondensed-Italic.ttf);
    font-family: RobotoCondensed-Italic;
    font-weight: 300;
}

@font-face {
    src: url(../font/roboto/RobotoCondensed-Light.ttf);
    font-family: RobotoCondensed-Light;
    font-weight: 300;
}

@font-face {
    src: url(../font/roboto/RobotoCondensed-LightItalic.ttf);
    font-family: RobotoCondensed-LightItalic;
    font-weight: 300;
}

@font-face {
    src: url(../font/roboto/RobotoCondensed-Regular.ttf);
    font-family: RobotoCondensed-Regular;
    font-weight: 400;
}

@font-face {
    src: url(../font/akaDora/akaDora.ttf);
    font-family: akaDora;
    font-weight: normal;
}





/*==========================Certificate==========================*/
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}

body {
    font-family: Roboto-Regular !important;
    font-size: 28px;
    color: #069194;

    @media all and (max-width: 999px) {
        font-size: calc(1.6vw + 6px);
    }
}

input {
    font-size: inherit;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

.wrap-wrapper {
    position: relative;
}

.wrap-content {
    position: absolute;
    top: 5px;
    left: 50px;
    right: 50px;
    bottom: 0;
    text-align: center;
}


.base-img {
    display: block;
    width: 100%;
}

.editable-text {
    border: 0 none;
    background: transparent;
    text-align: center;
    -webkit-flex: 1 1;
    -moz-flex: 1 1;
    -ms-flex: 1 1;
    -o-flex: 1 1;
    flex: 1 1;
    width: 1px;
    font-family: akaDora !important;
    border-bottom: 2px solid #000;

}

@media print {
    #printPageButton {
        display: none;
    }
}

.l1 {
    margin-left: 3%;
}

.editable-text.l3 {
    flex: 0 0 11%;
    margin: 0 5px;
}

.editable-text.l4 {
    flex: 0 0 19%;
    margin: 0 5px;
}

.editable-text.l5 {
    flex: 0 0 16%;
    margin: 0 5px;
}

.l9 {
    top: 68.6%;
    left: 43.8%;
    width: 6%;
}

.l10 {
    top: 68.6%;
    left: 60.8%;
    width: 8%;
}

.l11 {
    top: 41.7%;
    left: 37.1%;
    width: 48.7%;
}

.l12 {
    top: 53.8%;
    left: 18.9%;
    width: 62.4%;
}

.l13 {
    top: 61.4%;
    left: 31.2%;
    width: 6%;
}

.l14 {
    top: 61.4%;
    left: 44.8%;
    width: 6%;
}

.l15 {
    top: 61.4%;
    left: 62.4%;
    width: 8.8%;
}

/*-----------rows margin-----------*/
.r1 {
    margin-bottom: 1.7%;
}

.r2 {
    margin-bottom: 2.6%;
}

.r3 {
    margin: 0 6.5% 4.2%;
}

.r4 {
    margin: 0 6.5%;
}

.r5 {
    margin: 0 6.5%;
}

.r6 {
    margin: 0 6.5%;
}

.r7 {
    margin: 2.6%;
}

.r8 {
    margin: 0 6.5%;
}

/* ==================================Avatar================================== */

.avatar-header {
    //    position: absolute;
    height: 10%;
    width: 80%;
    margin: 5% auto 5%;
    overflow: hidden;
    transition: all .3s ease;
    text-align: center;
    left: 0;
    right: 0;
    position: relative;


    &:hover {
        // transform: scale(1.05);
        cursor: pointer;
    }

    &:hover .profile-pic {
        opacity: .5;
    }

    .profile-pic {
        height: 100%;
        width: auto;
        transition: all .3s ease;

        &:after {
            font-family: FontAwesome;
            content: "\f03e";
            top: 0;
            left: 0;
            width: auto;
            height: 100%;
            position: absolute;
            font-size: 75px;

            @media all and (max-width: 1199px) {
                font-size: calc(5vw + 10px);
            }

            color: #34495e;
            text-align: center;
            right: 0;
            margin: 0 auto;

        }
    }

    .upload-button {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        .fa-arrow-circle-up {
            position: absolute;
            font-size: 75px;

            @media all and (max-width: 1199px) {
                font-size: calc(5vw + 10px);
            }

            top: 0px;
            left: 0;
            text-align: center;
            opacity: 0;
            transition: all .3s ease;
            color: #34495e;
            right: 0;
            margin: 0 auto;
        }

        &:hover .fa-arrow-circle-up {
            opacity: .9;
        }

    }

    .file-upload {
        display: none;
    }
}


.avatar-content {
    position: relative;
    top: 12.6%;
    padding: 0 8.4%;
    text-align: center;
    letter-spacing: -0.6px;
}

/*----------Certification 2 -----------*/
.crt2 {
    color: #282828;
    font-size: 22px;

    .avatar-header {
        top: 7%;
    }

    .avatar-content {
        padding: 2% 21% 0;
    }
}

.crt3 {
    .avatar-header {
        top: 30%;
        z-index: 1;
        opacity: 0.2;
        height: 60%;
        position: absolute;
        overflow: visible;
    }

    .avatar-content {
        top: 35.6%;
        z-index: 2;
    }

    .upload-button {
        width: 100px;
        height: 100px;
        left: 160%;
        top: -133px;
        padding-top: 75px;
        font-size: 16px;
        color: #000;

        span {
            opacity: 0;
        }

        @media all and (max-width:1023px) {
            left: 180%;
            padding-top: 50px;
        }

        @media all and (max-width:991px) {
            left: 170%;
            padding-top: 50px;
        }

        @media all and (max-width:767px) {
            left: 130%;
            padding-top: 50px;
        }
    }

    .avatar-header {
        width: 275px;
        height: 275px;

        .profile-pic {
            object-fit: contain;
            display: block;
        }

        @media all and (max-width:1023px) {
            width: 225px;
            height: 225px;
        }

        @media all and (max-width:991px) {
            width: 200px;
            height: 200px;
        }
    }

    .pp-wrapper {
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 10px solid gray;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 50%;
            border: 3px solid #fff;
        }
    }

    .wrap-content:hover .upload-button .fa-arrow-circle-up,
    .wrap-content:hover .upload-button span,
    .wrap-content.upload-button span:hover {
        opacity: 0.9;
    }
}

/*--------------CERTIFICATION-------------*/
.crt4 {
    font-size: 22px;
    //text-align: left;
    color: #333;
    .avatar-content {
        padding: 8% 8% 0px 33%;
        top:7%;
        
    }
    @media all and (max-width:1023px){
        font-size: 19px;
    }
    .row{
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
        -o-justify-content: flex-start;
        justify-content: flex-start;
        margin: 0 auto 2.8%;
        text-align:left;
    }
    .editable-text{
        border-bottom-color: #e5cd85;
        text-align: center;
        padding-left: 1%;
        &:focus{
            outline-width:0;
             @include shadow(0 0 none);
        }
    }
    .avatar-header{
        text-align: right;
        margin: 5%;
        height: 15%;
        margin-left: auto;
        top: 3%;
        .upload-button .fa-arrow-circle-up{
            text-align: right;
            right: 1%;
        }
        .profile-pic:after{
            text-align: right;
        }
    }
 }

/*--------------CERTIFICATION-------------*/
.crt5 { 
    font-size: 22px; 
}










/*===================RESPONSIVE =========================*/
@import "responsive.scss";